

# Environments
.env
.venv
env/
*/venv/
ENV/
env.bak/
venv.bak/


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db


# Build folder

*/build/*
.aws-sam/
__pycache__/
.pytest_cache/
htmlcov/
.coverage
.DS_Store
.vscode/
